.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.team_card {
  width: 100%;
  height: 400px;
  padding: 0;
  margin-bottom: 30px;
  position: relative;
}

.team_card .card_inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.team_card:hover::before {
  border-radius: 0 0 0 100%;
}

.team_card .socials {
  margin: 0 0 15px;
}

.team_card .socials li {
  margin: 0 5px;
}

.team_card .socials li a {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 100%;
}

.team_card .socials li a img {
  width: 42%;
  -webkit-filter: grayscale(1) invert(1);
          filter: grayscale(1) invert(1);
}

.team_card::before {
  width: calc(100% - 60px);
  height: 50%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, #dee049), to(#736c12));
  background-image: linear-gradient(90deg, #dee049 5%, #736c12 100%);
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: 20px;
  right: 0;
  content: "";
  border-radius: 0 0 100% 0;
  z-index: -1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.team_card .front {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: rgba(21, 20, 20, 0.5);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 30px;
          box-shadow: rgba(0, 0, 0, 0.2) 1px 0 30px;
  -webkit-backdrop-filter: saturate(180%) blur(24px);
          backdrop-filter: saturate(180%) blur(24px);
}

.team_card .front .avator {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 0 20px;
          box-shadow: rgba(0, 0, 0, 0.5) 1px 0 20px;
  margin-bottom: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.team_card .front h2 {
  color: #fff;
  font-size: 20px;
  margin: 0 0 15px 0;
}

.team_card .front p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 15px;
  width: 92%;
  text-align: center;
}

.team_card .front .button {
  background-color: #ff0000;
  color: #fff;
  width: 100px;
  height: 40px;
  text-decoration: none;
  border-radius: 5px;
}

.team_card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: rgba(21, 20, 20, 0.5);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 30px;
          box-shadow: rgba(0, 0, 0, 0.2) 1px 0 30px;
  -webkit-backdrop-filter: saturate(180%) blur(24px);
          backdrop-filter: saturate(180%) blur(24px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 30px;
}

.team_card .back .avator {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.team_card .back .close {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 16px;
  cursor: pointer;
}

.team_card .back h2 {
  color: #fff;
  font-size: 28px;
}

.team_card .back .contact_info {
  width: 100%;
  margin: 0;
}

.team_card .back .contact_info li {
  margin-bottom: 15px;
}

.team_card .back .contact_info .image_back {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 100%;
  margin-right: 15px;
}

.team_card .back .contact_info .image_back img {
  width: 42%;
  -webkit-filter: grayscale(1) invert(1);
          filter: grayscale(1) invert(1);
}

.team_card .back .contact_info li {
  width: 100%;
  color: #fff;
}

.team_card:hover .back {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=codex-card.css.map */