body{
    margin: 0;
    padding: 0;
    background-color: #000;
    height: 100vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
*{
    box-sizing: border-box
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}
.flex-column{
    flex-direction: column
}
.flex-wrap{
    flex-wrap: wrap;
}



/*Team Card*/
@import "./team-card/team-card";
/*Team Card*/