body{
    margin: 0; 
    padding: 0;  
    transition: all .3s ease-in-out; 
    background-image: url(../images/bg.jpg); 
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;     
}
body.bg_chnage{
    background-image: url(../images/bg2.jpg);
}
*{
    box-sizing: border-box;
}



/*form Cover*/

.form_back{
    width: 100%; 
    height: 100vh; 
    background-color: rgba(0,0,0,.5); 

    display: flex; 
    align-items: center; 
    justify-content: center;

    backdrop-filter: saturate(180%) blur(10px);
}

.form_section{
    width: 50%;  
    position: relative;
    display: flex; 
    align-items: center; 
    justify-content: space-between;     
}
.form_back section{
    background-color: rgba(255,255,255,.5);  
    width: 100%; 
    height: 500px; 

    max-width: 50%; 
    flex: 0 0 50%;

    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 

    color: #fff; 
    font-size: 24px;
}

.form_back section button{
    background-color: #000000; 
    color: #fff; 

    font-size: 18px; 
    text-transform: capitalize; 

    padding: 10px 20px; 
    border-radius: 5px; 
    
    cursor: pointer; 
    border: none;  
    margin-top: 20px;
}

/*form Cover*/




/*Main form*/

.main_form{
    width: 50%; 
    height: 600px; 
    background-color: #fff;

    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    margin: auto;
    
    transition: all .5s ease; 
    box-shadow: rgba(0,0,0,.2) 1px 0 10px;
    transform: translateX(0);
    overflow: hidden; 
}

.main_form .form{    
    width: calc(100% - 20px); 
    height: calc(100% - 20px);
    background-color: rgba(255,255,255,.3);  

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: flex; 
    align-items: center; 
    justify-content: center; 
    z-index: 2;

    padding: 0 20px;
    transition: all .5s .5s ease-in-out; 
    
}

.main_form .heading{
    display: flex; 
    align-items: center; 
    margin-bottom: 20px;
}

.main_form .heading img{
    width: 42px; 
    margin-right: 15px; 
    filter: grayscale(1) invert(1);
}

.main_form .heading h2{
    margin: 0; 
    color: #fff;
}

.main_form input[type="text"], .main_form input[type="email"], .main_form input[type="password"]{
    width: 100%; 
    height: 50px; 
    background-color: #fff;

    outline-style: none;    
    border: rgba(0,0,0,.2) 1px solid;

    padding: 0 15px; 
    font-size: 16px; 
    margin-bottom: 25px; 
    
}

.main_form input[type="submit"]{
    background-color: #fff; 
    color: #333; 
    font-size: 14px; 
    text-transform: capitalize;

    padding: 10px 20px; 
    border-radius: 5px; 

    cursor: pointer; 
    border: none;
    cursor: pointer;  
}

.main_form p{
    color: #fff;
}
.main_form a{
    background-color: transparent; 
    color: #fff; 
    text-decoration: underline;
    cursor: pointer;
}

/*Main form*/



.main_form .login.form{
    transform: scale(1); 
    opacity: 1; 
    background-color: #ab42bc; 
    z-index: 99;  
}
.main_form .register.form{
    transform: scale(.9); 
    opacity: 0; 
    background-color: #2293d0;
}


.main_form.shift{
    transform: translateX(100%);
}
.main_form.shift .login.form{
    transform: scale(.9); 
    opacity: 0;
}
.main_form.shift .register.form{
    transform: scale(1);
     opacity: 1; 
     z-index: 999;  
}


@media only screen and (max-width:1365px){
    .form_section{
        width: 80%;
    }
    .form_back section{
        display: none;
    }
    .main_form{
        width: 100%;
    }
    .main_form.shift{
        transform: translateX(0%);
    }
}

